/* Global */

/* Standard theme. Might be changed to classes for dark and light... */
body{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    color:black;
    text-align: center;
}

/* Game related styles */
#game_area{

}

#time_score_area{

}

/* Grid with 3 rows and 3 cols to hold the letters*/
#board_area{
    display:grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

#answer_area{

}

#controls_area{

}

/* Square for each letter */
.letter_square{
    display:flex;
    justify-content:center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid black;
}

/* Buttons */


/* Media querys */
