/* Global */

/* Standard theme. Might be changed to classes for dark and light... */
body{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    color:black;
    text-align: center;
    display: flex;
    justify-content : center;
    /*align-items : center;*/
}

/* Game related styles */
#game_area{
    display: flex;
    flex-direction: column;
    justify-content : center;
    align-items: center;
}

#time_score_area{
    display:flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Oxanium", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;

}   
   

#timer_value{
    margin-right: 10px;
}

#general_controls_area{
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 300px;
}

.btn_green{
    background-color: lightgreen;
}

/* Grid with 3 rows and 3 cols to hold the letters*/
#board_area{
    /* display:grid; */
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    margin-top: 5px;
    justify-content: center;
}

#info_area{
    /* display:none; */
    font-family: "Oxanium", sans-serif;
    background-color: white;
    height: 300px;
    width: 300px;
    font-size: x-large;
    font-weight: bold;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.info_heading{
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: unset;
}

.info_text{
    margin-top: 5px;
    font-size: medium;

}

.info_text_images{
    width: 300px;
    text-align: left;
    font-size: small;
}

.thumbnail{
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    margin-right: 10px;
}

/* These styling rules comes from geeksforgeeks.org  */
.aligned {
    display: flex;
    align-items: center;
}
  
span {
    padding: 0px;
}

/* ---------- */

#highscore_area{
    /* display:none; */
    font-family: "Oxanium", sans-serif;
    background-color: black;
    color:orangered;
    height: 300px;
    width: 300px;
    font-size: large;
    font-weight: bold;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.hs_user{
    color:greenyellow;
}

.hs_heading{
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
}

#message_area{
    background-color: black;
    color: white;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    width: 300px;
}

#answer_area{
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 300px;
}

.user_letter{
    display:flex;
    justify-content:center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    border: 0.5px solid black;
    width: 30px;
    height: 30px;
}

#controls_area{
    display:flex;
    justify-content: space-between;
    width: 300px;
}

#userInput_area{
    /*flex-direction: column;*/
    width: 300px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
    margin: 20px;

}

.control{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    /*color: black;*/
    /*text-align: center;*/
    /*align-items: center;*/
}

/* adjustment */
/*button > i{
    text-align: center;
    color:black;
} */

/* Square for each letter */
.letter_square{
    display:flex;
    justify-content:center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    border: 1px solid black;
}

#board_area > div:hover{
    background-color: lightgreen;
}

/* Square for the letter in the middle */
.middle_square{
    background-color: black;
    color: white;
}

/* Buttons */

/* Google Font */
.nanum-pen script-regular {
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
  }

/* Media querys */
@media screen and (min-width: 660px) {

    #general_controls_area{
       
        margin-top: 20px;
        width: 600px;
    }

    #board_area{
        /* display:grid; */
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 200px 200px 200px;
        margin-top: 5px;
    }

    #info_area{
       
        height: 300px;
        width: 300px;
        font-size: x-large;
        font-weight: bold;
       
    }

    #highscore_area{
       
        height: 600px;
        width: 600px;
        font-size: xx-large;
       
    }

    .hs_heading{
        font-size: xxx-large;
        font-weight: bolder;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #message_area{
       
        margin-top: 10px;
        margin-bottom: 5px;
        font-weight: bold;
        width: 600px;
    }

    #answer_area{
        
        margin-top: 10px;
        margin-bottom: 20px;
        width: 600px;
    }

    .user_letter{
       
        font-size: 18px;
        font-weight: bold;
        border: 0.5px solid black;
        width: 60px;
        height: 60px;
    }

    #controls_area{
        width: 600px;
    }

    #userInput_area{
        /*flex-direction: column;*/
        width: 600px;
        padding-bottom: 20px;
       
        margin: 20px;
    
    }

    .control{
      
        width: 100px;
        height: 100px;
        font-size: 1.5rem;
    
    }

    .letter_square{
        
        font-size: 96px;
        font-weight: bold;
        border: 1px solid black;
    }

  }
